<mat-card class="mat-elevation-z3">
  <mat-card-content>
    <form [formGroup]="exampleForm">
      <h2>Example Form</h2>

      <p>Please enter the name of your favourite city:</p>
      <mat-form-field>
        <input matInput placeholder="City name" formControlName="favouriteCity"/>
      </mat-form-field>

      <p>Pick your favorite fruit:</p>
      <mat-radio-group formControlName="favouriteFruit" style="margin: -1em -1em 1.25em;">
        <mat-radio-button *ngFor="let fruit of fruitChoices" [value]="fruit.value" style="margin: 1em;">
          {{fruit.viewValue}}
        </mat-radio-button>
      </mat-radio-group>

      <p>What's your favourite car?</p>
      <mat-form-field>
        <mat-select placeholder="Car brand" formControlName="favouriteCar">
          <mat-option>None</mat-option>
          <mat-option *ngFor="let car of carChoices" [value]="car.value">
            {{car.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <p>How are you?</p>
      <mat-checkbox formControlName="imFeelingHappy" style="margin-bottom: 1.25em;">I'm feeling happy!</mat-checkbox>

      <p>Happiness:</p>
      <mat-slider min="1" max="100" step="1" formControlName="happiness"></mat-slider>

    </form>
  </mat-card-content>
</mat-card>
