@import "capturis-theme";

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.popover-menu.mat-menu-panel {
  min-width: 0;
  min-height: 0;
  max-width: none;
  max-height: none;
  margin-left: 0.5em;
  margin-right: 0.5em;
}

.popover-menu .mat-menu-content:not(:empty) {
  padding: 0;
}

.menu-form-wrapper .menu-form {
  display: flex;
  flex-direction: column;
  padding: 24px;
}

.mat-card-header-text {
  margin: 0 !important;
}

.with-typing-indicator {
  transition: background-color .7s ease-out, box-shadow .7s ease-out;
}
